@import url("https://fonts.googleapis.com/css2?family=Liter&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border-width: 0;
}

html,
body,
#root,
.app,
.content {
  font-family: "Liter", serif;

  min-height: 100vh;
  width: 100%;
  opacity: 1;
}

.app {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(10deg, #ee7752, #333);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.langauge-btn {
  cursor: pointer;
}

.logo {
  transition: all 0.3s;
  cursor: pointer;
}
.logo:hover {
  transform: scale(105%);
  padding: 5px;
}

/* Game buttons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.game-button {
  padding: 16px 48px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* MAIN */

.header {
  margin-bottom: 16px;
  color: #fff;
}

/* Game */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-player-container {
  display: grid;
  grid-template-columns: 70fr 30fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.input-guess {
  padding: 16px 32px;
  border: 1px solid #e73c7e;
  border-radius: 3px;
  z-index: 1;
  font-family: "Liter", serif;
}
.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  list-style-type: none;
  font-size: 18px;
  z-index: 10;
}

.suggestions-row {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestions-row:hover {
  background-color: #f0f0f0;
}

.btn-guess {
  padding: 16px 16px;
  background-color: #fff;
  border: 1px solid #e73c7e;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.guess-rows {
  display: grid;

  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 16px;
}

.img {
  width: 96px;
  height: 96px;
  border-radius: 5px;
}

.row-header {
  color: #fff;
  font-weight: 700;
}
.row-text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 96px;
  height: 96px;
  color: #fff;
  background-color: #e73c7e;
}
.row-text.complete {
  background-color: green;
}
